
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap');

body{
    background-color: black;
    display: block;
}
.main{
display: none;
}
.loader{
    position: relative;
    overflow: hidden;
    width: 95vw;
    height: 100vh;
    background-color: black;
}
.img-loader{
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-eventos{
    color: rgb(140, 140, 140);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
}

/* !----------------------------------------------NAVBAR----------------------------------------------
!-------------------------------------------------------------------------------------------------- */

.navbarstyle{
    display: flex;
    flex-direction: row;
    align-items: center;
    position:static;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 5;
    margin-top: 20px;
}
.brand-gm{
    width: 50px;
}

/* .bg-dark{
    background-color: transparent;
} */

.nav-link{
    align-self: center;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}
.nav-link:hover{
    color: blue;
}

.footer-cpy{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
}
/* !------------------------------------------------------------------------------------------------
!-------------------------------------------------------------------------------------------------- */

/* !----------------------------------------------PAGINA INICIAL ----------------------------------------------
!------------------------------------------------------------------------------------------------------------ */
.novidades{
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    text-decoration: underline;
}
/* ============================================ */
.containerr {
    position: relative;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1111119e;
  }
  
  .containerr:hover .overlay {
    opacity: 1;
  }
  .textt {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
  }

/* ============================================ */
.cover-destaque{
    width:400px ;
}
.titulo-car{
    margin-left: 20px;
    margin-top: 50px;
    color: white;
    font-family: 'Teko', serif;
}
.icons-row{
    margin-top: 10px;
}
.icon-s{
    width: 150px;
}
.icon-sp{
    margin: top 50px;
    margin-left: 80px;
    width: 150px;
}
.icon-a{
    width: 150px;
    margin-bottom: 50px;
    margin-left: 150px;
}
.link-i{
    padding: 0px;
    margin: 0px;
    width: 100px;
}
.link-ii{
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    width: 80px;
}
.btn-str{
    background-color: white;
    font-weight: bold;
    font-family: 'Carter One', serif;
    margin-left: 10px;
}
.btn-str:hover .descricao{
    background-color: red;
    font-size: 30px;
}
.titulo{
    margin-top: 120px;
}
.col-btns{
    /* padding-top: 100px; */
    /* padding-left: 100px; */
}


/* !------------------------------------------MUSICAS-PG-INICIAL-------------------------------------------------
!-------------------------------------------------------------------------------------------------- */
.link-a{
    padding: 0px;
    margin: 0px;
    width: 80px;
    height: 60px;
}
.icon-s2{
    width: 80px;
    height: 80px;
}
.icon-sp2{
    margin-top: 30px;
    width: 70px;
    height: 50px;
}
.icon-a2{
    margin-top: 30px;
    width: 80px;
    height: 60px;
}
.link-ouvirtodas{
   color: white;
}
.fontouvir{
    
   font-weight: bold;
}


.musicas-titulo{
    width: 800px;
    height: 300px;
}
.videos-titulo{
    width: 800px;
    height: 300px;
}
.musica-destaque{
    margin-right: 50px;
    width: 400px;
}
.video-in{
    width: 800px;
    height: 600px;
}
/* !---------------------------------------LOJA-PG-INICIAL--------------------------------------------
!-------------------------------------------------------------------------------------------------- */

.carousel-desc{
    color: rgb(243, 140, 6);
    align-items: flex-end;
    font-weight: bold;
    font-size: 15px;
}
.carousel-desc:hover{
    background-color: rgba(7, 71, 245, 0.993);
    color: white;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}
.link-desc{
    text-decoration: none;
}
/* !--------------------------------------ARTISTAS----------------------------------------------------
!-------------------------------------------------------------------------------------------------- */

.titulo-art{
    width: 800px;
}
.cont-art{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.cover-artista{
    transform: scale(2);
}
.carousel{
    margin-bottom: 80px;
}
.nome-artista{
    margin-top: 50px;
    color: white;
    font-size: 50px;
}
.nome-artista:hover{
    transform: scale(1.2);
    text-shadow: rgba(79, 79, 79, 0.5) 2px 2px;
}
.icon-smidia{
    width: 60px;
    height: 40px;
}
.row-artist{
    margin-bottom: 200px;
    margin-top: 50px;
}
.content-atist{
    display: flex;
    justify-content: center;
}
.text-artist{
    text-align: center;
    color: white;
}
.bio-content{
    background-color: black;
    color: white;
    font-family: 'Markazi Text', serif;
    font-size: 20px;
}
.icon-r{
    width: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
}
#bio:hover{
    background-color: gray;
}
/* !-----------------------------------MUSICAS----------------------------------------------------
!-------------------------------------------------------------------------------------------------- */
.titulo-grupo{
    display: flex;
    align-items: flex-start;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 20px;
    /* text-decoration: underline; */
    font-weight: bold;
    font-family: 'Carter One', cursive;
}
.capa-m{
    margin-right: 50px;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    color: wheat;
}
.m-link{
    margin: 20px;
    width: 200px;
    height: 200px;

}
.capa-m:hover{
    box-shadow: rgba(255, 255, 255, 0.308) 3px 3px 3px;
    transform: scale(1.08);
}
.titulo-ep{
    font-family: 'Markazi Text', serif;
    text-decoration: none;
    font-size: 20px;
    align-self: center;
    color: white;
    text-align: center;
}
.titulo-ep:hover{
    text-transform: uppercase;
    color: rgb(202, 202, 202);
    text-shadow: rgba(72, 209, 205, 0.301) 1px 1px;
    transform: scale(1.08);
    
}
.carousel-control-next{
    margin-right: 150px;
}
.carousel-control-prev{
    margin-left: 150px;
}
.row-all{
    margin-left: 50px;
}
.capa-mm{
    /* margin-bottom: 50px; */
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    color: wheat;
}
.capa-mm:hover{
    box-shadow: rgba(255, 255, 255, 0.308) 3px 3px 3px;
    transform: scale(1.08);
}
.precos{
    color: rgb(243, 140, 6);
}

.descricao-download{
    text-align: center;
}
.download-description{
    /* margin-left: 100px; */
    display: flex;
    flex-direction: column;
    color:white;
    font-family: 'Markazi Text', serif;
    font-size: 18px;
}
.btn-download{
    
    font-family: 'Carter One', cursive;
    margin-top: 50px;
    align-self: center;
}

/* !-------------------------------------VIDEOS----------------------------------------------------
!-------------------------------------------------------------------------------------------------- */
.gal-cont{
    display: flex;
    width: 100px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(    auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;

}
.galeria img{
    width: 100%;
}

/* !-------------------------------------SOBRE NOS----------------------------------------------------
!-------------------------------------------------------------------------------------------------- */

.cont-us{
    display: flex;
    align-items: center;
    justify-content: center;
}
.short-story{
    color: white;
    font-family: 'Pragati Narrow', sans-serif;
    /* font-size: 30px; */
    text-align: center;
}
.short-p{
    margin-top: 20px;
    font-size: 23px;
    font-family: 'Pragati Narrow', sans-serif;
}
.short-p{

}

/* !------------------------------------------------------------------------------------------------
!-------------------------------------------------------------------------------------------------- */
.blocos{
    width: 100vw;
    height: 120vh;
}
.scroll{
    /* display: flex; */
    /* overflow: hidden; */
    height: 100vh;
  }
  .chbx{
    display: none;
  }
  
  #rb_form2:checked ~ .sections{
    margin-top: -110vh;
  }
  #rb_form3:checked ~ .sections{
    margin-top: -220vh;
  }
  


@media (max-width: 798.98px) {

/* !-------------------------------------------NAVBAR-------------------------------------------------
!-------------------------------------------------------------------------------------------------- */
.cont-mob{
    display: flex;
    align-items: flex-end;
}
.brand-gm{
    width: 50px;
    display: flex;
    margin-right: 180px;
}
/* !------------------------------------------------------------------------------------------------
!-------------------------------------------------------------------------------------------------- */


/* !--------------------------------------------PAGINA INICIAL----------------------------------------------
!--------------------------------------------------------------------------------------------------------- */
/* ============================================ */
.containerr {
    position: relative;
  }
  
  .image {
      padding-left: 20px;
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1111119e;
  }
  .carousel-item{
      /* padding-left: 2px; */
  }
  .containerr:hover .overlay {
    opacity: 1;
  }
  .textt {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
  }

/* ============================================ */
    .cover-destaque-in{
        /* margin-left: 5px; */
    }
   
    .carousel-indicators{
        visibility: hidden;
    }
    .icons-row{
        margin-top: 5px;
        /* padding-left: 5px; */
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .icon-s{
        width: 120px;
    }
    .icon-sp{
        padding-left: 50px;
        margin-left: 0px;
        width: 150px;
    }
    .icon-a{
        margin-top: 55px;
        padding-left: 50px;
        margin-left: 30px;
        width: 160px;
    }
    .link-a{
        padding: 0px;
        margin: 0px;
        padding-left: 50px;
        width: 90px;
    }
    .link-i{
        padding: 0px;
        margin: 0px;
        padding-left: 50px;
        width: 90px;
    }
    .titulo-car{
        margin-top: 20px;
        margin-left: 40px;
        text-align: center;
        color: white;
    }
/* !------------------------------------MUSICAS-PG-INICIAL--------------------------------------------
!-------------------------------------------------------------------------------------------------- */
    .titulo{
        margin-top: 80px;
    }
    .musicas-titulo{
        width: 360px;
        height: 100px;
    }
    .videos-titulo{
        width: 360px;
        height: 160px;
    }
    .musica-destaque{
        width: 300px;
        margin-left: 20px;
        margin-right: 0px;
    }
    /* !------------------------------------VIDEOS-PG-INICIAL--------------------------------------------
!-------------------------------------------------------------------------------------------------- */
    .link-a{
        padding: 0px;
        margin: 0px;
        width: 60px;
        height: 60px;
    }
    .icon-s2{
        width: 50px;
        height: 60px;
    }
    .icon-sp2{
        margin-top: 20px;
        width: 50px;
        height: 40px;
    }
    .icon-a2{
        margin-top: 20px;
        width: 50px;
        height: 40px;
    }
    .video-in{
        width: 300px;
        height: 200px;
    }

/* !------------------------------------ARTISTAS-----------------------------------------------------
!-------------------------------------------------------------------------------------------------- */
    .titulo-art{
        width: 360px;
    }
    .carousel{
        margin-bottom: 200px;
    }
    .nome-artista{
        margin-top: 5px;
        color: white;
        font-size: 30px;
    }
    .icon-smidia{
        width: 60px;
        height: 40px;
    }
    .cover-artistaa{
        margin-top: 15px;
    }
    .cover-artista{
            margin-top: 15px;
        }
    .row-artist{
        margin-bottom: 90px;
        margin-top: 0px;
    }
    #bio:hover{
        background-color: gray;
        
    }
    /* !----------------------------------------------------------------------------------------------
!-------------------------------------------------------------------------------------------------- */

/* !-----------------------------------MUSICAS----------------------------------------------------
!-------------------------------------------------------------------------------------------------- */
.titulo-grupo{
    display: flex;
    align-items: flex-start;
    margin-left: 40px;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 60px;
    /* text-decoration: underline; */
    font-weight: bold;
    font-family: 'Carter One', cursive;
}
.capa-m{
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    color: wheat;
}
.m-link{
    margin: 10px;
    width: 100px;
    height: 100px;

}
.capa-m:hover{
    box-shadow: rgba(255, 255, 255, 0.308) 3px 3px 3px;
    transform: scale(1.08);
}
.titulo-ep{
    font-family: 'Markazi Text', serif;
    text-decoration: none;
    font-size: 20px;
    align-self: center;
    color: white;
    text-align: center;
}
.titulo-ep:hover{
    text-transform: uppercase;
    color: rgb(202, 202, 202);
    text-shadow: rgba(72, 209, 205, 0.301) 1px 1px;
    transform: scale(1.02);
    
}
.eps{
    display: flex;
    flex-direction: row;

    height: 20px;
}
.carousel-control-next{
    margin-right: 10px;
    color: black;
}
.carousel-control-prev{
    margin-left: 10px;
}

.precos{
    color: rgb(243, 140, 6);
}
.row-all{
    margin-left: 0px;
}
.capa-mm{
    /* margin-bottom: 50px; */
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    color: wheat;
}
.capa-mm:hover{
    box-shadow: rgba(255, 255, 255, 0.308) 3px 3px 3px;
    transform: scale(1.08);
}


.download-description{
    /* margin-left: 100px; */
    display: flex;
    flex-direction: column;
    color:white;
    font-family: 'Markazi Text', serif;
    font-size: 18px;
}
.btn-download{
    
    font-family: 'Carter One', cursive;
    margin-top: 50px;
    align-self: center;
}

/* !------------------------------------------------------------------------------------------------
!-------------------------------------------------------------------------------------------------- */
/* !-------------------------------------SOBRE NOS----------------------------------------------------
!-------------------------------------------------------------------------------------------------- */

.cont-us{
    display: flex;
    align-items: center;
    justify-content: center;
}
.short-story{
    color: white;
    font-family: 'Pragati Narrow', sans-serif;
    /* font-size: 30px; */
    text-align: center;
}
.short-p{
    margin-top: 20px;
    font-size: 23px;
    font-family: 'Pragati Narrow', sans-serif;
}
.short-p{

}

/* !------------------------------------------------------------------------------------------------
!-------------------------------------------------------------------------------------------------- */


}
/* @media (min-width: 767.98px) {
    /* .titulo-car{
        margin-left: 100px;
        margin-top: 50px;
        color: white;
    } */

/* } */
